<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-2">

      <h1>新規投稿</h1>

      <%= form_with model: @blog, local: true do |f| %>
        <div class="form-group"></div>
          <%= f.label :title %><br>
          <%= f.text_field :title, size: "70x10" %>
        </div>
        <div class="form-group">
          <%= f.text_area :text, size: "80x30", placeholder: "Coroぷりなこと書いてみよう♡" %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <i class="fas fa-arrow-circle-left"></i>
    <%= link_to "Cancel", blogs_path %>
  </div>
</div>
